<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>

		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    
    <!-- Menu -->
    <ul class="hide">
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% assign name_page = "" %}
        
        <!-- {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        {% if name_page contains page.title %}
        {% else %}
        
        {% endif %}
        {% assign name_page = page.title | append: name_page %}
        {% endif %}
        {% endfor %}  -->

        <li class="separator"> | </li>
        <li>
            <a class="clear" id="category" href="{{ site.url }}{{ site.baseurl }}/pages/category.html">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                Category
            </a>
        </li>
        <li class="separator"> | </li>
        <li>
            <a class="clear" href="{{ site.url }}{{ site.baseurl }}/pages/about.html">
                <i class="fa fa-user" aria-hidden="true"></i>
                About me
            </a>
        </li>
        
        <!-- Auto Generation of SPECIAL pages in the navbar -->
        {% for item in site.theme_settings.special_page %}
          {% if item[1].enabled %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" href="{{ site.url }}{{ site.baseurl }}/{{ item[1].icon }}">
                    <i class="fa fa-{{ item[1].icon }}" aria-hidden="true"></i>
                    {{ item[1].icon }}
                </a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
        
	</nav>
	<script>
		document.getElementById('category').addEventListener('click', (event) => {
			var hText = '';
			{% for category in categories_list %}
				hText += <a class = "button" href="{{ site.url }}{{ site.baseurl }}/category/{{ category[0] | capitalize }}.html">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
			{% endfor %}
			document.getElementById('category').appendChild(document.createElement(hText))
		});
	</script>
</header>
